{% extends "::base.html.twig" %}

{% block title %}Strona główna{% endblock %}

{% block body %}
<h1 >Witaj</h1>
    <pre>
    <a href="login">Zaloguj</a>
    <a href="register">Zarejestruj</a>
    <a href="person">Lista użytkowników</a>
    <a href="biuro">Lista biur</a>


    <a class="jubotron" href="officepresent">Zobacz Plan</a>
    </pre>

{% endblock %}
